* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  /* display: flex;
  flex-direction: row;
  flex-basis: 1000px; */
}

.customers {
  display: flex;
  border: 2px solid aquamarine;
  text-transform: capitalize;
  flex-basis: 300px;
  flex-wrap: wrap;
  margin: 20px;
}
