* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  /* display: flex;
  flex-direction: row;
  flex-basis: 1000px; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  justify-content: center;
}
h1 {
  display: block;
}
.customers {
  display: flex;
  border: 2px solid aquamarine;
  text-transform: capitalize;
  flex-basis: 240px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 40px;
  border-radius: 50px 80px 50px 80px;
}
.name {
  display: flex;
  font-size: 1.4rem;
  flex-wrap: wrap;
}
.email {
  display: flex;
  color: rgb(136, 135, 135);
  text-transform: lowercase;
}

.address {
  display: flex;
  flex-wrap: nowrap;
}
.dob {
  display: flex;
  flex-wrap: nowrap;
}
